{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "stage-3"
  ],
  "plugins": [
    [
      "angularjs-annotate",
      {
        "explicitOnly": true
      }
    ]
  ]
}