<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>echarts-ng example</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/echarts/dist/echarts.js"></script>
  <script src="node_modules/echarts/theme/vintage.js"></script>
  <script src="node_modules/echarts/theme/dark.js"></script>
  <script src="node_modules/echarts/theme/macarons.js"></script>
  <script src="node_modules/echarts/theme/roma.js"></script>
  <script src="node_modules/echarts/theme/infographic.js"></script>
  <script src="node_modules/echarts/theme/shine.js"></script>
  <script src="node_modules/echarts/theme/roma.js"></script>
  <script src="dist/echarts-ng.bundle.js"></script>
</head>
<body>
<article ng-controller="ShowcaseController as vm">
  <div class="showcase__theme" style="padding: 8px;">
    <form class="form-inline">
      <div class="form-group">
        <label for="echarts_theme">切换主题: </label>
        <select id="echarts_theme"
                ng-model="vm.theme"
                ng-options="theme for theme in vm.themes"
                ng-change="vm.handleThemeChange()"></select>
      </div>
      
      <button class="btn btn-primary" ng-click="vm.toggleSwitchStatus()">切换连接</button>
    </form>
  </div>
  <div class="echarts-box" style="height: 550px;" echarts="vm.instance" ng-if="vm.show"></div>
</article>
<script src="example/group.js"></script>
</body>
</html>