<header class="showcase__header">
  <form class="form-inline">
    <div class="form-group">
      <label for="theme" class="control-label">切换主题:</label>
      <select name="theme" id="theme" class="form-control"
              ng-model="vm.theme"
              ng-change="vm.handleThemeChange()"
              ng-options="theme for theme in vm.themes"></select>
    </div>

    <div class="form-group checkbox">
      <label class="checkbox-inline" ng-repeat="legend in vm.legends">
        <input type="checkbox" ng-model="legend.selected" ng-change="vm.handleLegendChange(legend.description, legend.selected)">
        {{ legend.description }}
      </label>
    </div>
  </form>
</header>

<article>
  <div class="showcase__instance" echarts="vm.instance"></div>
  <div class="showcase__instance" echarts="vm.siblingInstance"></div>
</article>
